<!DOCTYPE html>

<title>Libro</title>

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        *{
            background-color: #1e293b;
            color: #0dcaf0;
        }
    </style>

    {% for libro in libros %}
    <div class="example-wrapper">
        <h1>Título: {{ libro.titulo }}</h1>

        Información del libro
        <ul>
            <li>ID: {{ libro.id }}</li>
            <li>Autor: {{ libro.autor }}</li>
            <li>Precio: {{ libro.precio }}</li>
        </ul>
    </div>
    {% endfor %}
{% endblock %}
